body {
  background-color: black;
}
h1 {
  color: white;
  align-content: center;
}
.board {
  display: table;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
}

input {
  height: 40px;
  width: 200px;
  border-radius: 20px;
  background-color: blue;
  outline: 0;
  border: none;
  font-size: 20px;
  color: darkturquoise;
}
.row > button {
  height: 80px;
  width: 80px;
  background-color: white;
  margin: 10px;
  border-radius: 20px;
  outline: 0;
  border: none;
}
button {
  height: 40px;
  width: 200px;
  border-radius: 20px;
  background-color: blue;
  outline: 0;
  border: none;
  font-size: 20px;
}
